.caja {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
}

/* .caja:nth-child(odd) {
  background-color:black; 
}

.caja:nth-child(even) {
  background-color:red; 
} */
  